<div class="container">
    
<button [routerLink]="['']">Home</button>

    <div class="container mt-3">        
        <table class="table table-striped table-bordered table-hover align-middle mt-4">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Room-No</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations; index as i">
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.checkInDate }}</td>
                    <td>{{ reservation.checkInDate | date:'dd.MM.yyyy' }}</td>
                    <td>{{ reservation.guestName}}</td>
                    <td>{{ reservation.guestEmail}}</td>
                    <td>{{ reservation.roomNumber}}</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm" (click)="deleteReservations(reservation)">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>