<app-home></app-home>

<p>reservation-form works!</p>

<button class="btn btn-primary" [routerLink]="['']">Home</button>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col">
            <label class="form-label">Check-In: </label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <!-- ?.toched means if checkInDate is not null and user has at least once tries to put some date
         ?.invalid is a shortcut in which means if not null then this object is availalbe after the ? sign-->
            <small class="text-danger"
                *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check-In Date required
            </small>
        </div>

        <div class="col">
            <label class="form-label">Check-Out: </label>
            <input class="form-control" type="date" formControlName="checkOutDate">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="form-label">Guest name: </label>
            <input class="form-control" type="text" formControlName="guestName">
            <small class="text-danger"
                *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest name is required
            </small>
        </div>

        <div class="col">
            <label class="form-label">Email: </label>
            <input class="form-control" type="email" formControlName="guestEmail">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="form-label">Room Number: </label>
            <input class="form-control" type="number" formControlName="roomNumber">
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid"
        (click)="setAction('submit')">save</button>
    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid"
        (click)="setAction('submitExit')">save & Exit</button>

</form>